{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "#{DB_CONNECTION_STRING}#"
  },
  "Jwt": {
    "SecretKey": "#{JWT_SECRET_KEY}#",
    "Issuer": "#{JWT_ISSUER}#",
    "Audience": "#{JWT_AUDIENCE}#",
    "ExpirationHours": "24"
  },
  "Redis": {
    "Configuration": "#{REDIS_CONNECTION_STRING}#",
    "InstanceName": "PlantHealthCheck:"
  },
  "RabbitMQ": {
    "HostName": "#{RABBITMQ_HOST}#",
    "Port": 5672,
    "UserName": "#{RABBITMQ_USER}#",
    "Password": "#{RABBITMQ_PASSWORD}#"
  },
  "CAP": {
    "DefaultGroupName": "plant.health.check"
  }
}
